{
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "parser": "typescript",
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "auto",
  "bracketSameLine": false
}
